flow.json
[
    {
        "id": "a374d263.d8244",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "96650511.bea1c8",
        "type": "tab",
        "label": "売買履歴情報 コレクタ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7a150446.5eb45c",
        "type": "ui_group",
        "name": "デフォルト",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "726d8ec4.b428f",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "\"maneki-neko\" the dividend / stock visualization app.",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "YYYY/MM/DD",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "22bc5b3f.8ee744",
        "type": "ui_tab",
        "name": "登録",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fa70cfdf.23743",
        "type": "ui_group",
        "name": "売買履歴情報",
        "tab": "22bc5b3f.8ee744",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "daee0b7e.4b9b18",
        "type": "function",
        "z": "a374d263.d8244",
        "name": "売買履歴情報",
        "func": "trade_history_model = {\n    market: \"\", // 市場\n    ticket: \"\", // ティッカー\n    name: \"\", // 名前\n    unit_price: \"\", // 単価\n    stock: \"\", // 株数\n    trade: \"\", // 売買\n    account: \"\", // 口座\n    delivery_date: \"\", // 受渡日\n    sequence: \"\", // シーケンス番号\n    update_date: \"\", // 登録日\n    delete_flag: \"\" // 削除フラグ\n};\n\nmsg.payload = trade_history_model;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "9ba5b12e.9fb56",
        "type": "function",
        "z": "a374d263.d8244",
        "name": "配当履歴情報",
        "func": "dividend_history_model = {\n    market: \"\", // 市場\n    ticket: \"\", // ティッカー\n    unit_price: \"\", // 配当単価\n    ex_rights_date: \"\" // 権利落ち日\n}\n\nmsg.payload = dividend_history_model;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d31c3124.dc3bb",
        "type": "function",
        "z": "a374d263.d8244",
        "name": "配当予想情報",
        "func": "dividend_forecast_model = {\n    market: \"\", // 市場\n    ticket: \"\", // ティッカー\n    unit_price: \"\", // 配当単価\n    ex_rights_date: \"\" // 権利落ち日\n}\n\nmsg.payload = dividend_forecast_model;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "636bc9e.17fb338",
        "type": "function",
        "z": "a374d263.d8244",
        "name": "市場履歴情報",
        "func": "market_history_model = {\n    market: \"\", // 市場\n    ticket: \"\", // ティッカー\n    unit_price: \"\", // 単価\n    closing_date: \"\"// 年月日\n}\n\nmsg.payload = market_history_model;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a7b388e5.8b2c08",
        "type": "function",
        "z": "a374d263.d8244",
        "name": "市場最新情報",
        "func": "market_flash_model = {\n    market: \"\", // 市場\n    ticket: \"\", // ティッカー\n    unit_price: \"\", // 単価\n    closing_date: \"\"// 年月日\n}\n\nmsg.payload = market_flash_model;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f7785e7b.1538c",
        "type": "ui_button",
        "z": "96650511.bea1c8",
        "name": "買い",
        "group": "fa70cfdf.23743",
        "order": 8,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Buy",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "buy",
        "payloadType": "str",
        "topic": "trade",
        "topicType": "str",
        "x": 390,
        "y": 400,
        "wires": [
            [
                "73ec9d3.3ff7864"
            ]
        ]
    },
    {
        "id": "7d6fcd9.e492534",
        "type": "ui_button",
        "z": "96650511.bea1c8",
        "name": "売り",
        "group": "fa70cfdf.23743",
        "order": 9,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Sell",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "sell",
        "payloadType": "str",
        "topic": "trade",
        "topicType": "str",
        "x": 390,
        "y": 440,
        "wires": [
            [
                "73ec9d3.3ff7864"
            ]
        ]
    },
    {
        "id": "c066b261.875f2",
        "type": "ui_dropdown",
        "z": "96650511.bea1c8",
        "name": "市場",
        "label": "Market",
        "tooltip": "",
        "place": "Select option",
        "group": "fa70cfdf.23743",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "NYSE",
                "value": "nyse",
                "type": "str"
            },
            {
                "label": "NASDAQ",
                "value": "nasdaq",
                "type": "str"
            },
            {
                "label": "JPX",
                "value": "tko",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "market",
        "topicType": "str",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "73ec9d3.3ff7864"
            ]
        ]
    },
    {
        "id": "87e9b426.05b548",
        "type": "ui_text_input",
        "z": "96650511.bea1c8",
        "name": "ティッカー",
        "label": "Ticker",
        "tooltip": "",
        "group": "fa70cfdf.23743",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "200",
        "topic": "ticker",
        "topicType": "str",
        "x": 410,
        "y": 140,
        "wires": [
            [
                "73ec9d3.3ff7864"
            ]
        ]
    },
    {
        "id": "71f7aceb.07eea4",
        "type": "ui_text_input",
        "z": "96650511.bea1c8",
        "name": "銘柄名",
        "label": "Name",
        "tooltip": "",
        "group": "fa70cfdf.23743",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "200",
        "topic": "name",
        "topicType": "str",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "73ec9d3.3ff7864"
            ]
        ]
    },
    {
        "id": "206c30d9.4e56f",
        "type": "ui_text_input",
        "z": "96650511.bea1c8",
        "name": "単価",
        "label": "Price",
        "tooltip": "",
        "group": "fa70cfdf.23743",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "200",
        "topic": "price",
        "topicType": "str",
        "x": 390,
        "y": 220,
        "wires": [
            [
                "73ec9d3.3ff7864"
            ]
        ]
    },
    {
        "id": "f2ba4197.443b8",
        "type": "ui_date_picker",
        "z": "96650511.bea1c8",
        "name": "受渡日",
        "label": "Delivery Date",
        "group": "fa70cfdf.23743",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "delivery_date",
        "topicType": "str",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "73ec9d3.3ff7864"
            ]
        ]
    },
    {
        "id": "206ffff4.e09cd",
        "type": "ui_dropdown",
        "z": "96650511.bea1c8",
        "name": "口座",
        "label": "Account",
        "tooltip": "",
        "place": "Select option",
        "group": "fa70cfdf.23743",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "一般口座",
                "value": "general",
                "type": "str"
            },
            {
                "label": "特定口座",
                "value": "specified",
                "type": "str"
            },
            {
                "label": "NISA口座",
                "value": "nisa",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "account",
        "topicType": "str",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "73ec9d3.3ff7864"
            ]
        ]
    },
    {
        "id": "73ec9d3.3ff7864",
        "type": "switch",
        "z": "96650511.bea1c8",
        "name": "処理種別切り替え",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "market",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ticker",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "name",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "price",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "stock",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "account",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "delivery_date",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "trade",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 9,
        "x": 670,
        "y": 160,
        "wires": [
            [
                "244dd4c9.fd3fec"
            ],
            [
                "244dd4c9.fd3fec"
            ],
            [
                "244dd4c9.fd3fec"
            ],
            [
                "244dd4c9.fd3fec"
            ],
            [
                "244dd4c9.fd3fec"
            ],
            [
                "244dd4c9.fd3fec"
            ],
            [
                "244dd4c9.fd3fec"
            ],
            [
                "3d6cf9ef.5732d6"
            ],
            [
                "95822acf.54d728"
            ]
        ]
    },
    {
        "id": "e30dff5a.54982",
        "type": "change",
        "z": "96650511.bea1c8",
        "name": "メモリ/表示クリア",
        "rules": [
            {
                "t": "delete",
                "p": "market",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "ticket",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "name",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "price",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "stock",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "account",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "delivery_date",
                "pt": "flow"
            },
            {
                "t": "delete",
                "p": "trade",
                "pt": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "clear",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 280,
        "wires": [
            [
                "1f54da03.f1dc16"
            ]
        ]
    },
    {
        "id": "244dd4c9.fd3fec",
        "type": "function",
        "z": "96650511.bea1c8",
        "name": "一時保存",
        "func": "flow.set(msg.topic, msg.payload);\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 100,
        "wires": [
            [
                "1f54da03.f1dc16",
                "6a0a03b.df33afc"
            ]
        ]
    },
    {
        "id": "bec5d67e.05d9a8",
        "type": "debug",
        "z": "96650511.bea1c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 460,
        "wires": []
    },
    {
        "id": "95822acf.54d728",
        "type": "template",
        "z": "96650511.bea1c8",
        "name": "不明なトピックメッセージ",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "unknown topic: \"{{topic}}\" !",
        "output": "str",
        "x": 980,
        "y": 380,
        "wires": [
            [
                "85d5c4b6.dc3108",
                "bec5d67e.05d9a8"
            ]
        ]
    },
    {
        "id": "85d5c4b6.dc3108",
        "type": "ui_toast",
        "z": "96650511.bea1c8",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Unknown topic",
        "name": "トースト",
        "x": 960,
        "y": 420,
        "wires": []
    },
    {
        "id": "7006b677.11eaf8",
        "type": "function",
        "z": "96650511.bea1c8",
        "name": "表示更新",
        "func": "let market, ticketname, price, stock, account, delivery_date, trade;\nif (msg.topic === 'clear') {\n    market = { payload: '', enabled: true };\n    ticket = { payload: '', enabled: true };\n    name = { payload: '', enabled: true };\n    price = { payload: '', enabled: true };\n    stock = { payload: '', enabled: true };\n    account = { payload: '', enabled: true };\n    delivery_date = { payload: new Date(), enabled: true };\n    trade = { payload: '', enabled: false };\n} else {\n    market = { payload: flow.get('market'), enabled: true };\n    ticket = { payload: flow.get('ticket'), enabled: true };\n    name = { payload: flow.get('name'), enabled: true };\n    price = { payload: flow.get('price'), enabled: true };\n    stock = { payload: flow.get('stock'), enabled: true };\n    account = { payload: flow.get('account'), enabled: true };\n    delivery_date = { payload: flow.get('delivery_date') || new Date(), enabled: true };\n    trade = { payload: flow.get('trade'), enabled: check_turn_on_trade_button() };\n}\nreturn [market, ticket, name, price, stock, account, delivery_date, trade];\n\n\nfunction check_turn_on_trade_button() {\n    // 売買ボタンを有効化に必要なキー()が登録済みかチェック\n    // 前提キー: 市場, ティッカー, 名前, 単価, 株数, 口座, 受渡日.\n\n    premise_keys = ['market', 'ticket', 'name', 'price', 'stock', 'account', 'delivery_date', 'trade'];\n    for (const key in premise_keys) {\n        if (flow.keys().indexOf(key) === -1 || !flow.get(key).length) {\n            // 足りないキーがある\n            console.log(key + \"がないよ。\");\n            return false;\n        }\n    }\n    // 必要な事前キーが登録済み\n    return true;\n}\n",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 180,
        "wires": [
            [
                "c066b261.875f2"
            ],
            [
                "87e9b426.05b548"
            ],
            [
                "71f7aceb.07eea4"
            ],
            [
                "206c30d9.4e56f"
            ],
            [
                "5db46167.bf9e9"
            ],
            [
                "206ffff4.e09cd"
            ],
            [
                "f2ba4197.443b8"
            ],
            [
                "f7785e7b.1538c",
                "7d6fcd9.e492534"
            ]
        ]
    },
    {
        "id": "5db46167.bf9e9",
        "type": "ui_text_input",
        "z": "96650511.bea1c8",
        "name": "株数",
        "label": "Stock",
        "tooltip": "",
        "group": "fa70cfdf.23743",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "200",
        "topic": "stock",
        "topicType": "str",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "73ec9d3.3ff7864"
            ]
        ]
    },
    {
        "id": "5593bffa.3d79f",
        "type": "link in",
        "z": "96650511.bea1c8",
        "name": "至 一時保存",
        "links": [
            "1f54da03.f1dc16"
        ],
        "x": 75,
        "y": 180,
        "wires": [
            [
                "7006b677.11eaf8"
            ]
        ]
    },
    {
        "id": "1f54da03.f1dc16",
        "type": "link out",
        "z": "96650511.bea1c8",
        "name": "自 表示更新",
        "links": [
            "5593bffa.3d79f"
        ],
        "x": 1215,
        "y": 100,
        "wires": []
    },
    {
        "id": "3d6cf9ef.5732d6",
        "type": "change",
        "z": "96650511.bea1c8",
        "name": "ペイロード積み替え",
        "rules": [
            {
                "t": "move",
                "p": "payload.trade",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.market",
                "pt": "msg",
                "to": "market",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.ticker",
                "pt": "flow",
                "to": "ticker",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "flow",
                "to": "name",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.price",
                "pt": "flow",
                "to": "price",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.stock",
                "pt": "flow",
                "to": "stock",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.account",
                "pt": "flow",
                "to": "account",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.delivery_date",
                "pt": "flow",
                "to": "delivery_date",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 240,
        "wires": [
            [
                "e30dff5a.54982",
                "c4089c9a.76766",
                "d371e58d.54ad48"
            ]
        ]
    },
    {
        "id": "6a0a03b.df33afc",
        "type": "debug",
        "z": "96650511.bea1c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 140,
        "wires": []
    },
    {
        "id": "c4089c9a.76766",
        "type": "debug",
        "z": "96650511.bea1c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 320,
        "wires": []
    },
    {
        "id": "47f4461a.5d6448",
        "type": "comment",
        "z": "96650511.bea1c8",
        "name": "Input",
        "info": "",
        "x": 370,
        "y": 60,
        "wires": []
    },
    {
        "id": "fa9127e9.373bc8",
        "type": "comment",
        "z": "96650511.bea1c8",
        "name": "Output",
        "info": "",
        "x": 1230,
        "y": 200,
        "wires": []
    },
    {
        "id": "d371e58d.54ad48",
        "type": "link out",
        "z": "96650511.bea1c8",
        "name": "自 売買履歴情報登録",
        "links": [],
        "x": 1215,
        "y": 240,
        "wires": []
    },
    {
        "id": "8e7286f1.b7b4d8",
        "type": "ui_button",
        "z": "96650511.bea1c8",
        "name": "キャンセル",
        "group": "fa70cfdf.23743",
        "order": 9,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Cancel",
        "tooltip": "",
        "color": "",
        "bgcolor": "#aaaaaa",
        "icon": "",
        "payload": "cancel",
        "payloadType": "str",
        "topic": "trade",
        "topicType": "str",
        "x": 650,
        "y": 280,
        "wires": [
            [
                "e30dff5a.54982"
            ]
        ]
    }
]